---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"

import { basics, work, education, projects, skills } from "../../../cv_english.json"
const { name, label, summary, location, profiles, phone, email } = basics
---

<Layout title={`Portfolio of ${name} - ${label}`} language="en">
  <main>
    <Hero
      name={name}
      label={label}
      image={basics.image}
      location={location}
      profiles={profiles}
      phone={phone}
      email={email}
    />
    <About summary={summary} />
    <Experience work={work} />
    <Education education={education} />
    <Projects projects={projects} />
    <Skills skills={skills} />
  </main>

  <KeyboardManager profiles={profiles} />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
